<div class="row" ng-controller="TransactionsController as transactionsCtrl">
	<div class="col-lg-4 col-xs-12">
		<div class="panel panel-primary">
			<div class="panel-heading">
				<i class="fa fa-search fa-fw"></i> {{ 'TRANSACTIONS.SEARCH' | translate }}
			</div>
            <div class="panel-body">
                <div
                	style="margin-bottom: 10px" 
                	class="input-group input-group-sm"
                	ng-class="{'has-warning': (transactionsCtrl.categorySummariesDisplayed.length == 0 && transactionsCtrl.filters.date)}"
]                	>
                	<input
                    	date-range-picker 
                    	type="text"
                    	class="form-control datepicker"
                    	ng-model="transactionsCtrl.filters.date"
                    	placeholder="{{ 'TRANSACTIONS.CHOOSE_DATERANGE' | translate }}"
                    	options="transactionsCtrl.dateRangePickerOpts"
                    	>
                    <span class="input-group-addon"><i class="fa fa-calendar fa-fw"></i></span>
                    <!-- TODO: set object with polish locale -->
                    <!-- TODO: set object with predefined ranges -->
                </div>

				<div ng-show="transactionsCtrl.categorySummariesDisplayed.length > 0"
					 class="animated fadeIn">
					<hr/>
					<table
						class="table table-responsive table-condensed table-stripped table-hover hb-table-selectable"
						st-table="transactionsCtrl.categorySummariesDisplayed"
			  			st-safe-src="transactionsCtrl.categorySummariesSafeSrc"
			  			>
						<thead>
							<tr>
								<th>{{ 'TRANSACTIONS.CHOOSE_CATEGORY' | translate }}</th>
							</tr>
						</thead>
						<tbody>
							<tr st-select-row="transaction"
								st-select-mode="single"
								ng-repeat="transaction in transactionsCtrl.categorySummariesDisplayed"
								ng-click="transactionsCtrl.bindFilteredTransactions()"
								ng-class="{success: transaction.isSelected}">
								<td>{{transaction.category}} <span class="badge pull-right">{{transaction.amount}} zł</span>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
				<div ng-show="transactionsCtrl.categorySummariesDisplayed.length == 0 && transactionsCtrl.filters.date"
					>
					<hr/>
					<div class="alert alert-warning text-center animated fadeIn">
						{{ 'TRANSACTIONS.NO_CATEGORIES_IN_PERIOD' | translate }}
					</div>
				</div>


<!-- spike
<form name="datepickerForm" class="form-inline" role="form">
  <div class="form-group" ng-class="{'has-error': datepickerForm.date.$invalid}">
    <label class="control-label"><i class="fa fa-calendar"></i> Date <small>(as date)</small></label>
    <input type="text" class="form-control" ng-model="selectedDate" name="date" min-view="1" bs-datepicker>
  </div>
</form>
-->



			</div>
		</div>

		<div class="panel panel-primary" >
            <div class="panel-heading">
            	<i class="fa fa-plus fa-fw"></i> {{ 'TRANSACTIONS.ADD' | translate }}
            </div>

            <div style="padding-top:30px" class="panel-body">
            	<div class="row">
	                <div style="display:none" id="hb-transaction-add-alert" class="alert alert-danger col-xs-12"></div>
	                <div class="col-xs-12">
		                <form id="hb-transaction-add-form" class="form-horizontal" role="form">
		                    <div style="margin-bottom: 10px" class="input-group input-group-sm">
		                        <span class="input-group-addon"><i class="fa fa-tag fa-fw"></i></span>
		                        <input id="hb-transaction-form-category" type="text" class="form-control" name="category" placeholder="{{ 'TRANSACTIONS.CATEGORY' | translate }}">
		                    </div>

		                    <div style="margin-bottom: 10px" class="input-group input-group-sm">
		                        <span class="input-group-addon"><i class="fa fa-info fa-fw"></i></span>
		                        <input id="hb-transaction-form-description" type="text" class="form-control" name="description" value="" placeholder="{{ 'TRANSACTIONS.DESCRIPTION' | translate }}">                                        
		                    </div>
		                        
		                    <div style="margin-bottom: 10px" class="input-group input-group-sm">
		                        <span class="input-group-addon"><i class="fa fa-calendar fa-fw"></i></span>
		                        <input id="hb-transaction-form-date" type="text" class="form-control" name="date" placeholder="{{ 'TRANSACTIONS.DATE' | translate }}">
		                    </div>

		                    <div style="margin-bottom: 10px" class="input-group input-group-sm">
		                        <span class="input-group-addon"><i class="fa fa-money fa-fw"></i></span>
		                        <input id="hb-transaction-form-amount" type="number" pattern="^\d+(\.|\,)\d{2}$" class="form-control" name="amount" placeholder="{{ 'TRANSACTIONS.AMOUNT' | translate }}">
		                    </div>

		                    <div class="row">
		                    	<div class="col-md-6">
		                    		<div class="input-group">
										<input
						                    name="hb-transaction-form-type"
										    bs-switch
										    ng-model="isSelected"
										    type="checkbox"
										    switch-label="<span class='glyphicon glyphicon-transfer'></span>"
										    switch-on-text="{{ 'TRANSACTIONS.OUTCOME' | translate }}"
										    switch-off-text="{{ 'TRANSACTIONS.INCOME' | translate }}"
										    switch-on-color="danger"
										    switch-off-color="success"
										    switch-radio-off="off"
										    ng-true-value="'income'"
										    ng-false-value="'outcome'"
										    switch-inverse="true"
										    />
									</div>
		                    	</div>
		                    	<div class="col-md-6">
		                    		<button
		                    			type="button"
		                    			class="btn btn-sm btn-info"
										style="width:100%"
		                    			>
		                    			{{ 'COMMON.ACTIONS.ADD' | translate }}
		                    		</button>	
		                    	</div>
		                    </div>
	                	</form>
	                </div>
                </div>  
         	</div>                     
        </div>  
	</div>
	
	<div class="col-lg-8 col-xs-12 animated fadeIn"
		 ng-show="transactionsCtrl.filteredTransactionsDisplayed.length > 0">		
		<div class="panel panel-primary"
		  st-table="transactionsCtrl.filteredTransactionsDisplayed"
		  st-safe-src="transactionsCtrl.filteredTransactionsSafeSrc">
			<div class="panel-heading">
				<div class="panel-title">
					{{ 'TRANSACTIONS.TRANSACTIONS' | translate }} &nbsp;<span class="badge pull-right">{{transactionsCtrl.selectedCategoriesTransactionsDisplayed.length}}</span>
				</div>
			</div>
			<div class="panel-body">
				<table
					class="table table-responsive table-condensed table-stripped table-hover"
					ng-show="transactionsCtrl.filteredTransactionsDisplayed.length > 0"
					>
					<thead>
						<tr>
							<th>{{ 'TRANSACTIONS.CATEGORY' | translate }}</th>
							<th>{{ 'TRANSACTIONS.DESCRIPTION' | translate }}</th>
							<th>{{ 'TRANSACTIONS.DATE' | translate }}</th>
							<th>{{ 'TRANSACTIONS.AMOUNT' | translate }}</th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="transaction in transactionsCtrl.filteredTransactionsDisplayed">
							<td>{{transaction.category}}</td>
							<td>{{transaction.description}}</td>
							<td>{{transaction.date}}</td>
							<td>{{transaction.amount}} zł</td>
							<td class="hb-column-actions">
								<a class="btn btn-primary btn-circle btn-xs"
								   ng-click="transactionsCtrl.edit(transaction.id)">
									<i class="fa fa-edit fa-fw"></i>
								</a> 
								<a class="btn btn-danger btn-circle btn-xs"
								   ng-click="transactionsCtrl.remove(transaction.id)">
								   <i class="fa fa-remove fa-fw"></i>
								</a>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
	<div class="col-lg-offset-8"
		 ng-show="transactionsCtrl.filteredTransactionsDisplayed.length == 0"></div>
	<!-- spike
	<div class="col-lg-4 col-xs-12">
		<div class="panel with-nav-tabs panel-primary">
            <div class="panel-heading">
                    <ul class="nav nav-tabs">
                        <li class="active"><a href="/#/transactions/tab1default" data-toggle="tab">Default 1</a></li>
                        <li><a href="/#/transactions/tab2default" data-toggle="tab">Default 2</a></li>
                        <li><a href="/#/transactions/tab3default" data-toggle="tab">Default 3</a></li>
                    </ul>
            </div>
            <div class="panel-body">
                <div class="tab-content">
                    <div class="tab-pane fade in active" id="tab1default">Default 1</div>
                    <div class="tab-pane fade" id="tab2default">Default 2</div>
                    <div class="tab-pane fade" id="tab3default">Default 3</div>
                </div>
            </div>
        </div>
	</div>
	 -->

	<div ui-view></div>


</div>