<div class="row">
	
	<div class="col-lg-8 col-xs-12">
		<div ui-view="left"></div>
		
		<!-- SPIKE - TODO: move it to nested ui-view -->
		<div class="panel panel-primary"
		  ng-controller="TransactionsController as transactionsCtrl"
		  st-table="transactionsCtrl.transactionsDisplayed"
		  st-safe-src="transactionsCtrl.transactions">
			<div class="panel-heading">
				<div class="panel-title pull-left" style="padding-top:5px">
					{{ 'ROUTES.TRANSACTIONS' | translate }}
				</div>
				
				<div class="pull-right">
					<input type="text" placeholder="{{ 'COMMON.ACTIONS.SEARCH' | translate }}" class="form-control input-sm" />
				</div>
				<div class="clearfix"></div>
			</div>
			<div class="panel-body">
				<div class="table-responsive table-condensed table-stripped">
					<table class="table">
						<thead>
							<tr>
								<th><input st-search="category" placeholder="{{ 'TRANSACTIONS.CATEGORY' | translate }}" class="input-sm form-control" type="search"/></th>
								<th><input st-search="description" placeholder="{{ 'TRANSACTIONS.DESCRIPTION' | translate }}" class="input-sm form-control" type="search"/></th>
								<th><input st-search="date" placeholder="{{ 'TRANSACTIONS.DATE' | translate }}" class="input-sm form-control" type="search"/></th>
								<th><input st-search="amount" placeholder="{{ 'TRANSACTIONS.AMOUNT' | translate }}" class="input-sm form-control" type="search"/></th>
								<th></th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="transaction in transactionsCtrl.transactionsDisplayed">
								<td>{{transaction.category}}</td>
								<td>{{transaction.description}}</td>
								<td>{{transaction.date}}</td>
								<td>{{transaction.amount}} zł</td>
								<td class="hb-column-actions">
									<a class="btn btn-primary btn-circle btn-xs"
									   ng-click="transactionsCtrl.edit(transaction.id)">
										<i class="fa fa-edit fa-fw"></i>
									</a> 
									<a class="btn btn-danger btn-circle btn-xs"
									   ng-click="transactionsCtrl.remove(transaction.id)">
									   <i class="fa fa-remove fa-fw"></i>
									</a>
								</td>
							</tr>
						</tbody>
					</table>
        		</div>
			</div>
		</div>

	</div>

	<!-- spike -->
	<div class="col-lg-4 col-xs-12">
		<div class="panel panel-primary" >
            <div class="panel-heading">
                <div class="panel-title">{{ 'TRANSACTIONS.ADD' | translate }}</div>
            </div>     

            <div style="padding-top:30px" class="panel-body" >
            	<div class="row">
	                <div style="display:none" id="hb-transaction-add-alert" class="alert alert-danger col-xs-12"></div>
	                <form id="hb-transaction-add-form" class="form-horizontal" role="form">
	                    <div style="margin-bottom: 10px" class="input-group">
	                        <span class="input-group-addon"><i class="fa fa-tag fa-fw"></i></span>
	                        <input id="hb-transaction-form-category" type="text" class="form-control" name="category" placeholder="{{ 'TRANSACTIONS.CATEGORY' | translate }}">
	                    </div>

	                    <div style="margin-bottom: 10px" class="input-group">
	                        <span class="input-group-addon"><i class="fa fa-info fa-fw"></i></span>
	                        <input id="hb-transaction-form-description" type="text" class="form-control" name="description" value="" placeholder="{{ 'TRANSACTIONS.DESCRIPTION' | translate }}">                                        
	                    </div>
	                        
	                    <div style="margin-bottom: 10px" class="input-group">
	                        <span class="input-group-addon"><i class="fa fa-calendar fa-fw"></i></span>
	                        <input id="hb-transaction-form-date" type="text" class="form-control" name="date" placeholder="{{ 'TRANSACTIONS.DATE' | translate }}">
	                    </div>

	                    <div style="margin-bottom: 10px" class="input-group">
	                        <span class="input-group-addon"><i class="fa fa-dollar fa-fw"></i></span>
	                        <input id="hb-transaction-form-amount" type="number" pattern="^\d+(\.|\,)\d{2}$" class="form-control" name="amount" placeholder="{{ 'TRANSACTIONS.AMOUNT' | translate }}">
	                    </div>

						<div style="margin-bottom: 10px" class="input-group">
								<input
				                    name="hb-transaction-form-type"
								    bs-switch
								    ng-model="isSelected"
								    type="checkbox"
								    switch-label="<span class='glyphicon glyphicon-transfer'></span>"
								    switch-on-text="{{ 'TRANSACTIONS.INCOME' | translate }}"
								    switch-off-text="{{ 'TRANSACTIONS.OUTCOME' | translate }}"
								    switch-on-color="success"
								    switch-off-color="danger"
								    switch-radio-off="off"
								    ng-true-value="'income'"
								    ng-false-value="'outcome'"
								    />
						</div>

						<div style="margin-bottom: 10px; margin-top: 20px" class="input-group"> 
							<button type="button" class="btn btn-primary">{{ 'COMMON.ACTIONS.ADD' | translate }}</button>
						</div>
                	</form>
                </div>  
         	</div>                     
        </div>  
	</div>

	<div ui-view></div>


</div>