<div class="row">
	<div class="col-lg-4 col-xs-12">
		<div class="panel panel-primary">
			<div class="panel-heading">
				<i class="fa fa-search fa-fw"></i> {{ 'TRANSACTIONS.SEARCH' | translate }}
			</div>
            <div class="panel-body">
                <div
                	style="margin-bottom: 10px" 
                	class="input-group input-group-sm"
                	ng-class="{'has-warning': (transCtrl.categorySummariesDisplayed.length == 0 && transCtrl.filters.date)}"
]                	>
                	<input
                    	date-range-picker 
                    	type="text"
                    	class="form-control datepicker"
                    	ng-model="transCtrl.filters.date"
                    	placeholder="{{ 'TRANSACTIONS.CHOOSE_DATERANGE' | translate }}"
                    	options="transCtrl.dateRangePickerOpts"
                    	>
                    <span class="input-group-addon"><i class="fa fa-calendar fa-fw"></i></span>
                    <!-- TODO: set object with polish locale -->
                    <!-- TODO: set object with predefined ranges -->
                </div>

				<div ng-show="transCtrl.categorySummariesDisplayed.length > 0"
					 class="animated fadeIn">
					<hr/>
					<table
						class="table table-responsive table-condensed table-stripped table-hover hb-table-selectable"
						st-table="transCtrl.categorySummariesDisplayed"
			  			st-safe-src="transCtrl.categorySummariesSafeSrc"
			  			>
						<thead>
							<tr>
								<th>{{ 'TRANSACTIONS.CHOOSE_CATEGORY' | translate }}</th>
							</tr>
						</thead>
						<tbody>
							<tr st-select-row="categorySummary"
								st-select-mode="single"
								ng-repeat="categorySummary in transCtrl.categorySummariesDisplayed"
								ng-click="transCtrl.bindFilteredTransactions()"
								ng-class="{success: categorySummary.isSelected}">
								<td>
									<div class="hb-inMediumground">
										<div class="progress hb-progressbarCategory " style="width:40%;">
											<div
												class="progress-bar progress-bar-info"
												role="progressbar"
												style="width: {{ categorySummary.amountPercentage }}%"></div>
										</div>
										<div class="progress hb-progressbarCategory " style="width:40%; margin-top:2px;">
											<div
												class="progress-bar progress-bar-danger"
												role="progressbar"
												style="width: {{ categorySummary.amountPercentage }}%"></div>
										</div>
									</div>
									<span class="hb-inForeground">{{categorySummary.category}}</span>
									<span class="pull-right">
										<span class="badge">{{categorySummary.amount}} zł</span> / <span class="badge" style="background-color: red">-50 zł</span>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
				<div ng-show="transCtrl.categorySummariesDisplayed.length == 0 && transCtrl.filters.date"
					>
					<hr/>
					<div class="alert alert-warning text-center animated fadeIn">
						{{ 'TRANSACTIONS.NO_CATEGORIES_IN_PERIOD' | translate }}
					</div>
				</div>


<!-- spike
<form name="datepickerForm" class="form-inline" role="form">
  <div class="form-group" ng-class="{'has-error': datepickerForm.date.$invalid}">
    <label class="control-label"><i class="fa fa-calendar"></i> Date <small>(as date)</small></label>
    <input type="text" class="form-control" ng-model="selectedDate" name="date" min-view="1" bs-datepicker>
  </div>
</form>
-->



			</div>
		</div>

		<div ng-include src="'app/transactions/transactions-add/transactions-add.html'"></div>
	</div>

	<div class="col-lg-8 col-xs-12 animated fadeIn"
		 ng-show="transCtrl.filteredTransactionsDisplayed.length > 0">		
		<div class="panel panel-primary"
		  st-table="transCtrl.filteredTransactionsDisplayed"
		  st-safe-src="transCtrl.filteredTransactionsSafeSrc">
			<div class="panel-heading">
				<div class="panel-title">
					{{ 'TRANSACTIONS.TRANSACTIONS' | translate }} &nbsp;<span class="badge pull-right">{{transCtrl.selectedCategoriesTransactionsDisplayed.length}}</span>
				</div>
			</div>
			<div class="panel-body">
				<table
					class="table table-responsive table-condensed table-stripped table-hover"
					ng-show="transCtrl.filteredTransactionsDisplayed.length > 0"
					>
					<thead>
						<tr>
							<th class="col-md-3">{{ 'TRANSACTIONS.CATEGORY' | translate }}</th>
							<th class="col-md-4">{{ 'TRANSACTIONS.DESCRIPTION' | translate }}</th>
							<th class="col-md-2">{{ 'TRANSACTIONS.DATE' | translate }}</th>
							<th class="col-md-2">{{ 'TRANSACTIONS.AMOUNT' | translate }}</th>
							<th class="col-md-1"></th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="transaction in transCtrl.filteredTransactionsDisplayed">
							<td>{{transaction.category}}</td>
							<td>{{transaction.description}}</td>
							<td>{{transaction.date}}</td>
							<td>{{transaction.amount}} zł</td>
							<td class="hb-column-actions">
								<a class="btn btn-primary btn-circle btn-xs"
								   ng-click="transCtrl.edit(transaction.id)">
									<i class="fa fa-edit fa-fw"></i>
								</a> 
								<a class="btn btn-danger btn-circle btn-xs"
								   ng-click="transCtrl.remove(transaction.id)">
								   <i class="fa fa-remove fa-fw"></i>
								</a>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
	<div class="col-lg-offset-8"
		 ng-show="transCtrl.filteredTransactionsDisplayed.length == 0"></div>
	<!-- spike
	<div class="col-lg-4 col-xs-12">
		<div class="panel with-nav-tabs panel-primary">
            <div class="panel-heading">
                    <ul class="nav nav-tabs">
                        <li class="active"><a href="/#/transactions/tab1default" data-toggle="tab">Default 1</a></li>
                        <li><a href="/#/transactions/tab2default" data-toggle="tab">Default 2</a></li>
                        <li><a href="/#/transactions/tab3default" data-toggle="tab">Default 3</a></li>
                    </ul>
            </div>
            <div class="panel-body">
                <div class="tab-content">
                    <div class="tab-pane fade in active" id="tab1default">Default 1</div>
                    <div class="tab-pane fade" id="tab2default">Default 2</div>
                    <div class="tab-pane fade" id="tab3default">Default 3</div>
                </div>
            </div>
        </div>
	</div>
	 -->

	<div ui-view></div>


</div>